
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Reward Partner Dashboard</h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body teal-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 class="total-num counter">
                                {{vendorData.totalRedeemedCounter.total_redeemed}}/
                                {{vendorData.vendorTotalProduct.total_product}}
                            </h4>
                            <span>
                                <h6>Redeemed</h6>
                                By entire population of participants
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-package"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="blueBarChart" [data]="WidgetLineChart1.data" [type]="WidgetLineChart1.type"
                            [options]="WidgetLineChart1.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body yellow-dk-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 class="total-num counter">{{userWishlisted | number :'1.0-0'}}%</h4>
                            <span>
                                <h6>of participants</h6>
                                have an item in their wishlist
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="redBarChart" [data]="WidgetLineChart2.data" [type]="WidgetLineChart2.type"
                            [options]="WidgetLineChart2.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xl-4 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body reddish-el">
                    <div class="row no-gutters">
                        <div class="col-8">

                                <h4 *ngIf="adminStats && adminStats.overallActiveChallenges == 0" class="total-num"> <span class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                    [duration]="0">0</span></h4>

                            <h4 *ngIf="adminStats && adminStats.overallActiveChallenges > 0" class="total-num"> <span class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                    [duration]="0"></span></h4>
                            <span>
                                <h6>Total Active Challenge</h6>
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="pinkBarChart" *ngIf="totalActiveChallengeChart.data.series" [data]="totalActiveChallengeChart.data" [type]="totalActiveChallengeChart.type" [options]="totalActiveChallengeChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>

       <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body purple-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.overallActiveSurvey" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.overallActiveSurvey" [from]="0"
                                    [duration]="0"></span></h4>
                            <span>
                                <h6>Total Active Survey</h6>
                                Since the onset of the program
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-server"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="greenBarChart" *ngIf="totalActiveSurveyChart.data.series" [data]="totalActiveSurveyChart.data" [type]="totalActiveSurveyChart.type" [options]="totalActiveSurveyChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>-->

    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Featured Products</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Product Name</th>
                                    <th scope="col" class="pt-0">Token</th>
                                    <th scope="col" class="pt-0">Remaining Stock</th>
                                    <th scope="col" class="pt-0">Purchased in App</th>
                                    <th scope="col" class="pt-0">Redeemed</th>
                                    <th scope="col" class="pt-0">Offer</th>
                                    <th scope="col" class="pt-0">Total Wishlisted</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of featuredProducts">
                                    <td>{{product.name}}</td>
                                    <td class="digits"style="text-align: center;">{{product.token}}</td>
                                    <td class="digits" style="text-align: center;">{{product.quantity}}</td>
                                    <td class="digits" style="text-align: center;">{{product.redeemCount}}</td>
                                    <td class="digits" style="text-align: center;">{{vendorData.totalRedeemedCounter.total_redeemed}}</td>
                                    <td class="digits">{{product.shortDesc}}</td>
                                    <td class="digits" style="text-align: center;">{{product.wishlistCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Brand Sponsored Challenges</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table">
                        <thead>
                            <tr>
                                <th scope="col" class="pt-0">Challenge Name</th>
                                <th scope="col" class="pt-0">Started On</th>
                                <th scope="col" class="pt-0">Ends On</th>
                                <th scope="col" class="pt-0">Accepted</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let challenge of popularChallenges">
                                <td>{{challenge.name}}</td>
                                <td>{{challenge.startDateTime | date:'yyyy-MM-dd'}}</td>
                                <td>{{challenge.endDateTime | date:'yyyy-MM-dd'}}</td>
                                <td class="digits">{{challenge.totalParticipants}}</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
