<div class="sidebar custom-scrollbar">
  <div class="sidebar-user text-center">
    <div class="userprofilelogo" *ngIf="imageSrc ==''">
      <span>{{imageName}}</span>
    </div>
    <div *ngIf="imageSrc !=''">
     <img class="img-60 rounded-circle" src="{{imageSrc}}" alt="">
    </div>
    <h6 *ngIf="currentUser.role ==='admin'" class="mt-3 f-14">{{currentUser.firstName}} {{currentUser.lastName}}</h6>
    <h6 *ngIf="currentUser.role ==='corporate'" class="mt-3 f-14">{{currentUser.companyName}}</h6>
    <h6 *ngIf="currentUser.role ==='vendor'" class="mt-3 f-14">{{currentUser.companyName}}</h6>
  </div>
  <ul class="sidebar-menu">
    <li *ngFor="let menuItem of menuItems" [ngClass]="{active: menuItem.active}">
      <div class="sidebar-title" *ngIf="menuItem.headTitle  && currentUser.role ==='admin'">
        Super Admin
        <span class="badge badge-{{menuItem.badgeType}} pull-right"
          *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
      </div>

      <div class="sidebar-title" *ngIf="menuItem.headTitle && currentUser.role ==='corporate'">
        Corporate Admin
        <span class="badge badge-{{menuItem.badgeType}} pull-right"
          *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
      </div>

      <div class="sidebar-title" *ngIf="menuItem.headTitle && currentUser.role ==='vendor'">
        Vendor Admin
        <span class="badge badge-{{menuItem.badgeType}} pull-right"
          *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span>
      </div>


      <!-- Super Admin -->
      <a [routerLink]="!menuItem.path ? null : [menuItem.path]" class="sidebar-header" *ngIf="currentUser.role ==='admin'"
        (click)="toggletNavActive(menuItem)">
        <i [class]="menuItem.icon"></i><span>{{menuItem.title}}<span class="badge badge-{{menuItem.badgeType}} ml-3"
            *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
        <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
      </a>
      <!-- 2nd Level Menu -->
      <ul class="sidebar-submenu" [ngClass]="{'menu-open': menuItem.active, 'menu-close': !menuItem.active }"
        *ngIf="menuItem.children && currentUser.role ==='admin'">
        <li *ngFor="let childrenItem of menuItem.children" [ngClass]="{active: childrenItem.active}">
          <!-- Sub -->
          <a href="javascript:void(0)" *ngIf="childrenItem.type === 'sub'" (click)="toggletNavActive(childrenItem)">
            <i class="fa fa-angle-right"></i><span> {{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span> </span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>
          <!-- Link -->
          <a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'link'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-angle-right"></i><span>{{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span></span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>         
        </li>
      </ul>

      <!-- Corpoate Admin -->
      <a [routerLink]="!menuItem.path ? null : [menuItem.path]" class="sidebar-header" *ngIf="currentUser.role ==='corporate' && (menuItem.type === 'admin | corporate' || menuItem.type === 'admin | corporate | vendor' || menuItem.type === 'corporate')"
        (click)="toggletNavActive(menuItem)">
        <i [class]="menuItem.icon"></i><span>{{menuItem.title}}<span class="badge badge-{{menuItem.badgeType}} ml-3"
            *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
        <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
      </a>
      <!-- 2nd Level Menu -->
      <ul class="sidebar-submenu" [ngClass]="{'menu-open': menuItem.active, 'menu-close': !menuItem.active }"
        *ngIf="menuItem.children && currentUser.role ==='corporate' && (menuItem.type === 'admin | corporate' || menuItem.type === 'corporate')">
        <li *ngFor="let childrenItem of menuItem.children" [ngClass]="{active: childrenItem.active}">
          <!-- Sub -->
          <a href="javascript:void(0)" *ngIf="childrenItem.type === 'sub'" (click)="toggletNavActive(childrenItem)">
            <i class="fa fa-angle-right"></i><span> {{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span> </span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>
          <!-- Link -->
          <a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'link'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-angle-right"></i><span>{{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span></span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>         
        </li>
      </ul>

        <!-- Vendor Admin -->
        <a [routerLink]="!menuItem.path ? null : [menuItem.path]" class="sidebar-header" *ngIf="currentUser.role ==='vendor' && (menuItem.type === 'admin | vendor' || menuItem.type === 'admin | corporate | vendor' || menuItem.type === 'vendor')"
        (click)="toggletNavActive(menuItem)">
        <i [class]="menuItem.icon"></i><span>{{menuItem.title}}<span class="badge badge-{{menuItem.badgeType}} ml-3"
            *ngIf="menuItem.badgeType">{{menuItem.badgeValue}}</span></span>
        <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
      </a>
      <!-- 2nd Level Menu -->
      <ul class="sidebar-submenu" [ngClass]="{'menu-open': menuItem.active, 'menu-close': !menuItem.active }"
        *ngIf="menuItem.children && currentUser.role ==='vendor' && (menuItem.type === 'admin | vendor' || menuItem.type === 'vendor')">
        <li *ngFor="let childrenItem of menuItem.children" [ngClass]="{active: childrenItem.active}">
          <!-- Sub -->
          <a href="javascript:void(0)" *ngIf="childrenItem.type === 'sub'" (click)="toggletNavActive(childrenItem)">
            <i class="fa fa-angle-right"></i><span> {{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span> </span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>
          <!-- Link -->
          <a [routerLink]="!childrenItem.type ? null : [childrenItem.path]" *ngIf="childrenItem.type === 'link'"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa fa-angle-right"></i><span>{{childrenItem.title}} <span
                class="badge badge-{{childrenItem.badgeType}} pull-right"
                *ngIf="childrenItem.badgeType">{{childrenItem.badgeValue}}</span></span>
            <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
          </a>         
        </li>
      </ul>
    </li>
  </ul>
</div>