<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a [routerLink]="'/admin/survey/list-survey-category'">Survey Category </a></li>
          <li class="breadcrumb-item active">Survey Resultd</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5>Survey Results</h5>
        </div>

        <div class="card-body">
          <div *ngIf="displayForm">
            <form [formGroup]="resultForm" (ngSubmit)="submitForm()">
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label for="validationCustom01" class="required-input">Corporate  </label>
                  <select class="form-control title" 
                    [formControl]="resultForm.controls['company']" (change)="onCompanySelect($event.target.value)"
                    [value]="selectedComp">
                    <option *ngFor="let group of companies" [value]="group._id">
                      {{group.label}}
                    </option>
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="required-input">Survey</label>
                  <select *ngIf="!showDepartment" class="form-control title">
                    <option value="" selected="selected">Select corporate first</option>
                  </select>
                  <select *ngIf="showDepartment" class="form-control title" formControlName="survey"
                    (change)="setSurvey(resultForm.controls['survey'])">
                    <option *ngFor="let group of categories" [value]="group._id">
                      {{group.name}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="fullw required-input">Department</label>
                  <angular2-multiselect [(ngModel)]="selectedDepartments" [data]="compDepartments"
                    [formControl]="resultForm.controls['department']" [settings]="settings">
                  </angular2-multiselect>

                  <!-- <select class="form-control title" [formControl]="resultForm.controls['department']">
                    <option *ngFor="let group of compDepartments" [value]="group.id">
                      {{group.itemName}}
                    </option>
                  </select> -->
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <button class="btn btn-md mr-2 btn-primary" type="submit">Submit
                    form</button>
                  <button class="btn btn-light" type="reset" (click)="hideForm()">Cancel</button>
                </div>
              </div>
            </form>
          </div>

          <div class="form-row" *ngIf="!displayForm">
            <div class="col-sm-12 text-center" style="font-size: 12px">
              <span style="cursor: pointer;" (click)="showForm()">
                Display Form<br />
                <img src="./../../../../assets/images/arrow-down-2-icon.gif" style="width: 25px; margin-top: -10px;">
              </span>
            </div>
          </div>
          <hr />

          <div class="col-sm-12">&nbsp;</div>
          <div class="col-sm-12">&nbsp;</div>
          <div *ngIf="displayResult" id="pdfTable" #pdfTable style="font-family: Helvetica;">
            <div class="form-row">
              <div class="col-sm-12 text-center heading">
                {{results.name}}
              </div>
            </div>
            <div class="col-sm-12">&nbsp;</div>
            <div class="form-row">
              <div class="col-md-5">
                <div class="form-row">
                  <!-- <div class="col-md-4" style="font-weight: 600; padding:8px 4px 4px 8px;">Company Name:</div>
                  <div class="col-md-8 result" style="padding:8px 4px 4px 8px;">Hayatech</div> -->
                  <table style="border: 2px solid #8BC7F3;" id="selected">
                    <tr>
                      <td style="font-weight: 600; padding:8px 4px 4px 8px; width: 125px;">Company Name:</td>
                      <td style="padding:8px 4px 4px 8px; width: 190px;">{{selectedCorp}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: 600; padding:8px 4px 4px 8px; width: 125px;">Department:</td>
                      <td style="padding:8px 4px 4px 8px; width: 190px;">{{selectedDept}}</td>
                    </tr>
                    <tr>
                      <td style="font-weight: 600; padding:8px 4px 4px 8px; width: 200px;">Total Users Responded:</td>
                      <td style="padding:8px 4px 4px 8px; width: 190px;">{{results.totalUser}}</td>
                    </tr>
                  </table>
                </div>
                <!-- <div class="form-row">
                  <div class="col-md-4" style="font-weight: 600; padding:4px 4px 8px 8px;">Department:</div>
                  <div class="col-md-8 result" style="padding:4px 4px 8px 8px;">Call center</div>
                </div> -->
              </div>
              <div class="col-md-7" *ngIf="printBtn" style="text-align: right;">
                <button class="btn btn-md mr-2 btn-primary" type="button" (click)="downloadAsPDF()">Print
                  Results</button>
              </div>
              <div class="col-md-7 result" *ngIf="printMsg" style="color:#86E2E2; text-align: right;">
                Please wait your pdf is getting generated.
              </div>
            </div>

            <div *ngIf="noData">
              <div class="col-md-12 text-center result" style="color: #FF8BA4; padding-top: 40px;">
                No record found!
              </div>
            </div>

            <div *ngIf="results">
              <div *ngFor="let result of results.questions;  let i = index">
                <div id="content{{i}}">
                  <div class="col-sm-12">&nbsp;</div>
                  <div class="col-sm-12">&nbsp;</div>
                  <div class="col-sm-12">&nbsp;</div>
                  <div class="form-row">
                    <div class="col-sm-12 result" style="padding-bottom: 15px;">
                      Question {{i+1}}: {{result.question}}
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-sm-4" style="margin: 0 40px 0 20px;">
                      <table border="1" style="width: 90%; margin-top: 30px;" id="mytable{{i}}">
                        <tr *ngFor="let option of result.options">
                          <td style="padding:5px; border:1px solid #cccccc;">{{option.label}}</td>
                          <td style="padding:5px; text-align: right; border:1px solid #cccccc;">
                            {{option.percent | number:'1.2-2'}}%</td>
                        </tr>
                      </table>

                      <!-- <div style="width: 100%; margin-top: 30px; border:1px solid #cccccc; float:left;" id="mytable{{i}}">
                      <div *ngFor="let option of result.options" style="float: left; width: 100%;">
                        <div style="padding: 5px; width:60%; float:left;">{{option.label}}</div>
                        <div style="padding: 5px;  width:40%; float:left; text-align: right;">{{option.percent}}%</div>
                      </div>
                    </div> -->
                    </div>

                    <div class="col-sm-6"
                      style="border: 1px solid #ccc; box-shadow: 0px 0px 5px 4px #888888; padding-bottom:10px;">
                      <div id="graph{{i}}">
                        <canvas baseChart [data]="pieChartData[i]" [labels]="pieChartLabels[i]"
                          [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins"
                          [legend]="pieChartLegend">
                        </canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>

        <div class="card-footer">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->