<div class="page-main-header">
    <div class="main-header-left" [attr.semilight-bg-color]="customize.data.header.semiLightbgColor">
        <div class="logo-wrapper">
            <a [routerLink]="'/landing'">
                <img src="assets/images/logo.svg" class="image-dark" alt="" />
            </a>
        </div>
    </div>
    <div class="main-header-right row" [attr.header-bg-color]="customize.data.header.headerBgColor">
        <div class="mobile-sidebar" id="mobile-sidebar">
            <div class="media-body text-right switch-sm">
                <label class="switch">
                    <input type="checkbox" id="sidebar-toggle" checked="checked">
                    <span class="sidebarToggle"><i class="fa fa-bars" title="Toggle Sidebar" (click)="switchToggle()"></i></span>
                    <!-- <span class="switch-state" (click)="switchToggle()"></span> -->
                </label>
            </div>
        </div>
        <div class="nav-right col">
            <ul class="nav-menus" [class.open]="open">
                <!-- <li>
                    <form class="form-inline search-form">
                        <div class="form-group">
                            <label class="sr-only">Email</label>
                            <input type="search" class="form-control-plaintext" placeholder="Search.." id="searchInput">
                            <span class="d-sm-none mobile-search" (click)="clickSearch()">
                            </span>
                        </div>
                    </form>
                </li> -->
               
                <li class="onhover-dropdown">
                    <div class="media  align-items-center">
                        <img class="align-self-center pull-right mr-2" src="assets/images/dashboard/user.png"
                            alt="header-user" />
                        <div class="media-body">
                            <h6 class="m-0 txt-dark f-16">
                                My Account
                                <i class="fa fa-angle-down pull-right ml-2"></i>
                            </h6>
                        </div>
                    </div>
                    <ul class="profile-dropdown onhover-show-div p-20" style="width: 190px !important;">
                        <li>
                            <a [routerLink]="['/users/password']">
                                <i class="icon-user"></i>
                                Change Password
                            </a>
                        </li>
                        <!-- <li>
                            <a [routerLink]="['/email/app']">
                                <i class="icon-email"></i>
                                Inbox
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/to-do/todo']">
                                <i class="icon-check-box"></i>
                                Task
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/chat/app']">
                                <i class="icon-comments"></i>
                                Chat
                            </a>
                        </li> -->
                        <li>
                            <a href="javascript:void(0)" (click)="signOut()">
                                <i class="icon-power-off"></i>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- <div class="d-lg-none mobile-toggle">
                <i class="icon-more" (click)="openHeaderMenu()"></i>
            </div> -->
        </div>
    </div>
</div>
