<!-- Container-fluid starts -->
<!-- <app-preloader></app-preloader> -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Super Admin</h3>
                <!-- <small>Super Admin Panel</small> -->
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body teal-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.totalParticipants == 0" class="total-num counter"
                                [CountTo]="adminStats.totalParticipants" [from]="0" [duration]="0">0</h4>

                                <h4 *ngIf="adminStats && adminStats.totalParticipants > 0" class="total-num counter"
                                [CountTo]="adminStats.totalParticipants" [from]="0" [duration]="0"></h4>
                            <span>
                                <h6>Total Participants</h6>
                                Engaging with the program
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-package"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="blueBarChart" *ngIf="totalParticipantsChart.data.series" [data]="totalParticipantsChart.data" [type]="totalParticipantsChart.type" [options]="totalParticipantsChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body yellow-dk-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.totalSteps == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.totalSteps" [from]="0"
                                    [duration]="0">0</span></h4>
                                    <h4 *ngIf="adminStats && adminStats.totalSteps > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.totalSteps" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Today’s Total Steps</h6>
                                Taken by entire poulation
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="redBarChart" *ngIf="totalStepChart.data.series?.length>0" [data]="totalStepChart.data"
                            [type]="totalStepChart.type" [options]="totalStepChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body reddish-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.overallActiveChallenges == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                    [duration]="0">0</span></h4>
                                    <h4 *ngIf="adminStats && adminStats.overallActiveChallenges > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Total Active Challenge</h6>
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="pinkBarChart" *ngIf="totalActiveChallengeChart.data.series" [data]="totalActiveChallengeChart.data" [type]="totalActiveChallengeChart.type" [options]="totalActiveChallengeChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body purple-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.overallActiveSurvey == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.overallActiveSurvey" [from]="0"
                                    [duration]="0">0</span></h4>
                                    <h4 *ngIf="adminStats && adminStats.overallActiveSurvey > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.overallActiveSurvey" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Total Active Survey</h6>
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-server"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="greenBarChart" *ngIf="totalActiveSurveyChart.data.series" [data]="totalActiveSurveyChart.data" [type]="totalActiveSurveyChart.type" [options]="totalActiveSurveyChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body reddish-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.corporateClients == 0" class="total-num counter"
                                [CountTo]="adminStats.corporateClients" [from]="0" [duration]="0">0</h4>

                                <h4 *ngIf="adminStats && adminStats.corporateClients > 0" class="total-num counter"
                                [CountTo]="adminStats.corporateClients" [from]="0" [duration]="0"></h4>
                            <span>
                                <h6>Corporate Clients</h6>
                                Engaging with the program
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-package"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="blueBarChart" *ngIf="totalCorporateClientChart.data.series" [data]="totalCorporateClientChart.data" [type]="totalCorporateClientChart.type" [options]="totalCorporateClientChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body green-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.rewardPartners == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.rewardPartners" [from]="0"
                                    [duration]="0">0</span></h4>

                                    <h4 *ngIf="adminStats && adminStats.rewardPartners > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.rewardPartners" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Reward Partners</h6>
                                Engaging with the program
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-bar-chart"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="redBarChart" *ngIf="totalRewarndPartnerChart.data.series" [data]="totalRewarndPartnerChart.data" [type]="totalRewarndPartnerChart.type" [options]="totalRewarndPartnerChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body pink-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.productListed == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.productListed" [from]="0"
                                    [duration]="0">0</span></h4>

                                    <h4 *ngIf="adminStats && adminStats.productListed > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.productListed" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Product Listed</h6>
                                Since the onset of the program
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="pinkBarChart" *ngIf="totalProductListedChart.data.series" [data]="totalProductListedChart.data"
                            [type]="totalProductListedChart.type" [options]="totalProductListedChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card">
                <div class="ecommerce-widget card-body teal-el">
                    <div class="row no-gutters">
                        <div class="col-8">
                            <h4 *ngIf="adminStats && adminStats.redeemedUnits == 0" class="total-num"> <span
                                    class="total-num counter" [CountTo]="adminStats.redeemedUnits" [from]="0"
                                    [duration]="0">0</span></h4>

                                    <h4 *ngIf="adminStats && adminStats.redeemedUnits > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.redeemedUnits" [from]="0"
                                        [duration]="0"></span></h4>
                            <span>
                                <h6>Redeemed Units</h6>
                                By entire population of the participants
                            </span>
                        </div>
                        <div class="col-4">
                            <div class="icon text-md-right">
                                <i class="icon-server"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flot-chart-container">
                        <x-chartist class="greenBarChart" *ngIf="totalRedeemedUnitChart.data.series" [data]="totalRedeemedUnitChart.data"
                            [type]="totalRedeemedUnitChart.type" [options]="totalRedeemedUnitChart.options">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5>Total Users</h5>
                        </div>
                        <div class="col">
                            <select class="form-control dropdownSteps custom-select" (change)="selectSteps('total_users', $event.target.value)">
                                <option value="week">Weekly</option>
                                <option value="month" selected>Monthly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body" *ngIf="usersChart.data.series.length>0">
                    <x-chartist [type]="usersChart.type" [data]="usersChart.data" [options]="usersChart.options">
                    </x-chartist>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5>Total Steps</h5>
                        </div>
                        <div class="col">
                                <select class="form-control dropdownSteps custom-select" (change)="selectSteps('total_steps', $event.target.value)">
                                    <option value="week">Weekly</option>
                                    <option value="month" selected>Monthly</option>
                                </select>
                            </div>
                    </div>
                </div>

                <div class="card-body scatter-chart-xs" *ngIf="salesCrmChart.data.series.length>0">
                    <x-chartist [type]="salesCrmChart.type" [data]="salesCrmChart.data"
                        [options]="salesCrmChart.options">
                    </x-chartist>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card gi-block">
                <div class="card-header">
                    <span>Growth</span>
                    <h4>89%</h4>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card gi-block">
                <div class="card-header">
                    <span>Income</span>
                    <h4>BHD 78,000</h4>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card gi-block-with-icon">
                <div class="card-header">
                        <i class="icon-arrow-up icon c-blue"></i>
                    <span class="c-blue">Overall Active Challenges</span>
                    <h4 *ngIf="adminStats && adminStats.overallActiveChallenges">{{adminStats.overallActiveChallenges}}</h4>
                </div>
            </div>
        </div> -->
        <div class="col-xl-3 col-lg-6 col-sm-6">
            <div class="card gi-block-with-icon">
                <div class="card-header">
                        <i class="icon-arrow-up icon c-reddish"></i>
                    <span class="c-blue">Overall Completed Challenges</span>
                    <h4>89%</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Corporate Client Status</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Company Name</th>
                                    <th scope="col" class="pt-0">Contact Person</th>
                                    <th scope="col" class="pt-0">Total Users</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let corporate of corporateClients">
                                    <td>{{corporate.name}}</td>
                                    <td>{{corporate.contactPerson}}</td>
                                    <td class="digits">{{corporate.totalUsers}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Reward Partner Status</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Company Name</th>
                                    <th scope="col" class="pt-0">Contact Person</th>
                                    <th scope="col" class="pt-0">Total Products</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let reward of rewardPartners">
                                    <td>{{reward.companyName}}</td>
                                    <td>{{reward.contactPerson}}</td>
                                    <td class="digits">{{reward.totalProducts}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Featured Products</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Product Name</th>
                                    <th scope="col" class="pt-0">Token</th>
                                    <th scope="col" class="pt-0">Total Wishlisted</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of featuredProducts">
                                    <td>{{product.name}}</td>
                                    <td class="digits">{{product.token}}</td>
                                    <td class="digits">{{product.wishlistCount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Challenges</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table-bordernone">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Challenge Name</th>
                                    <th scope="col" class="pt-0">Started On</th>
                                    <th scope="col" class="pt-0">Ends On</th>
                                    <th scope="col" class="pt-0">Accepted</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let challenge of popularChallenges">
                                    <td>{{challenge.name}}</td>
                                    <td>{{challenge.startDateTime | date:'yyyy-MM-dd'}}</td>
                                    <td>{{challenge.endDateTime | date:'yyyy-MM-dd'}}</td>
                                    <td class="digits">{{challenge.totalParticipants}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->                                                                                                                 
