<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/survey'">Survey </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Survey </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Survey </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Survey Form</h5>
                    <h5 *ngIf="isEdit">Edit Survey Form</h5>
                </div>
                <form [formGroup]="addSurveyForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom01" class="required-input">Question</label>
                                <input type="text" minlength="10" class="form-control" placeholder="Question"
                                    [formControl]="addSurveyForm.controls['question']" maxlength="200" required>
                                <div *ngIf="addSurveyForm.controls['question']['touched'] && addSurveyForm.controls['question'].errors?.required"
                                    class="text text-danger">
                                    Question is required.
                                </div>
                                <div *ngIf="addSurveyForm.controls['question']['touched'] && addSurveyForm.controls['question'].errors?.minlength"
                                    class="text text-danger">
                                    Question should be at least 10 character.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Survey Type</label>
                                <select class="form-control" [formControl]="addSurveyForm.controls['surveyCategory']">
                                    <option *ngFor="let surveyCategory of surveyCategories"
                                        [value]="surveyCategory._id">
                                        {{surveyCategory.name}}
                                    </option>
                                </select>
                                <div *ngIf="addSurveyForm.controls['surveyCategory']['touched'] && addSurveyForm.controls['surveyCategory'].errors?.required"
                                    class="text text-danger">
                                    Survey type is required.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02">Survey Type</label>
                                <select class="form-control" [formControl]="addSurveyForm.controls['questionType']">
                                    <option value='singleChoice'>
                                        Single Choice
                                    </option>
                                    <option value='multipleChoice'>
                                        Multiple Choice
                                    </option>
                                </select>
                                <div *ngIf="addSurveyForm.controls['questionType']['touched'] && addSurveyForm.controls['questionType'].errors?.required"
                                    class="text text-danger">
                                    Question type is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-row" formArrayName="option">
                            <div class="col-md-6 mb-3"
                                *ngFor="let opt of addSurveyForm.controls['option']['controls']; let i=index"
                                [formGroupName]="i">
                                <label class="required-input">Option {{i+1}}</label>
                                <input type="text" class="form-control" placeholder="Option {{i+1}}"
                                    formControlName="label" maxlength="100" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <button type="button" (click)="addOptions('')" class="btn btn-primary mr-2"> Add
                                    Option</button>
                                <button type="button" (click)="removeOptions()" class="btn btn-danger mr-2">
                                    Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addSurveyForm.invalid"
                            type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addSurveyForm.invalid"
                            type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->