<div class="container-fluid">
    <!--login page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/logo.svg" class="logo-login" alt="">
                        <hr>
                        <!-- <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a (click)="loginFacebook()"><i
                                            class="fa fa-facebook txt-fb" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a (click)="loginGoogle()"><i
                                            class="fa fa-google-plus txt-google-plus" aria-hidden="true"></i></a></li>
                                <li class="list-inline-item"><a (click)="loginTwitter()"><i
                                            class="fa fa-twitter txt-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h4>LOGIN</h4>
                        <h6>Enter your Username and Password For Login or Signup</h6>
                        <div class="card mt-4 p-4 mb-0">
                            <form class="theme-form" [formGroup]="loginForm">
                                <div class="form-group">
                                    <label class="col-form-label pt-0">Email</label>
                                    <input type="email" class="form-control lower" formControlName="email" required>
                                    <div *ngIf="loginForm.controls['email']['touched'] && loginForm.controls['email'].errors?.required"
                                        class="text text-danger mt-1">
                                        Email is required
                                    </div>
                                    <div *ngIf="loginForm.controls['email']['touched'] && loginForm.controls['email'].errors?.email"
                                        class="text text-danger mt-1">
                                        Invalid Email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Password</label>
                                    <input type="password" class="form-control pass" formControlName="password" required>
                                    <div *ngIf="loginForm.controls['password']['touched'] && loginForm.controls['password'].errors?.required"
                                        class="text text-danger mt-1">
                                        Password is required
                                    </div>
                                </div>
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">Remember me</label>
                                </div>
                                <div class="form-group form-row mt-3 mb-0">
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-secondary btn-block"
                                            (click)="login(loginForm.value)"><span>Login</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--login page end-->
</div>