<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/survey/list-survey-category'">Survey Category </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Survey Category </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Survey Category </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Survey Category Form</h5>
                    <h5 *ngIf="isEdit">Edit Survey Category Form</h5>
                </div>
                <form [formGroup]="addSurveyCategoryForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01" class="required-input">Name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Name"
                                    [formControl]="addSurveyCategoryForm.controls['name']" maxlength="200" required>
                                <div *ngIf="addSurveyCategoryForm.controls['name']['touched'] && addSurveyCategoryForm.controls['name'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addSurveyCategoryForm.controls['name']['touched'] && addSurveyCategoryForm.controls['name'].errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="required-input">Company</label>
                                <select class="form-control" formControlName="corporate" [formControl]="addSurveyCategoryForm.controls['corporate']">
                                    <option *ngFor="let corporate of corporates" [value]="corporate._id">
                                        {{corporate.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Token</label>
                                <input type="text" class="form-control" placeholder="Token" (keypress)="keyPress($event)"
                                    [formControl]="addSurveyCategoryForm.controls['earningToken']" maxlength="3" required>
                                <div *ngIf="addSurveyCategoryForm.controls['earningToken']['touched'] && addSurveyCategoryForm.controls['earningToken'].errors?.required"
                                    class="text text-danger">
                                    Token is required.
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="fullw required-input">Expires On</label>
                                <br/>
                                <p-calendar class="p-input-calendar" formControlName="expireOn" [monthNavigator]="true" [yearNavigator]="true" [minDate]="mindate" yearRange="{{todayYear}}:2050"></p-calendar>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Featured</label>
                                <input style="margin-left: 5px" type="checkbox" [formControl]="addSurveyCategoryForm.controls['is_featured']">
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addSurveyCategoryForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addSurveyCategoryForm.invalid" type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->