.fullw{
    width: 100%;
}







.npswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.npswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.myonswitch {
    background-color: #2196F3;
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}
.myonswitch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    border-radius: 50%;
}

.myoffswitch {
    background-color: #ccc;
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
}
.myoffswitch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}




.myswitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .myswitch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .myslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .myslider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .myslider {
    background-color: #2196F3;
  }
  
  input:focus + .myslider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .myslider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .myslider.myround {
    border-radius: 34px;
  }
  
  .myslider.myround:before {
    border-radius: 50%;
  }
