<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/users'">User </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add User </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit User </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add User Form</h5>
                    <h5 *ngIf="isEdit">Edit User Form</h5>
                </div>
                <form [formGroup]="addUserForm" (ngSubmit)="submitForm()" class="add-user-form">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Email</label>
                                <input type="email" class="form-control lower" placeholder="Email"[formControl]="addUserForm.controls['email']" required>
                                <div *ngIf="addUserForm.controls['email']['touched'] && addUserForm.controls['email'].errors?.required" class="text text-danger"> Email is required.</div>
                                <div *ngIf="addUserForm.controls['email']['touched'] && check.email.errors" class="text text-danger">Email must be a valid email address</div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label class="required-input">Mobile</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Mobile Number" [formControl]="addUserForm.controls['mobile']" minlength="8" maxlength="8" required>
                                <div *ngIf="addUserForm.controls['mobile']['touched'] && addUserForm.controls['mobile'].errors?.required" class="text text-danger">
                                    Mobile number is required.
                                </div>
                                <div *ngIf="addUserForm.controls['mobile']['touched'] && addUserForm.controls['mobile'].errors?.pattern" class="text text-danger">
                                    Please provide a valid mobile number.
                                </div>
                                <div *ngIf="addUserForm.controls['mobile']['touched'] && addUserForm.controls['mobile'].errors?.requiredLength" class="text text-danger">
                                    Please max lengrh provide a valid mobile number.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">First Name</label>
                                <input type="text" minlength="2" class="form-control" placeholder="First Name" [formControl]="addUserForm.controls['firstName']" maxlength="10" required>
                                <div *ngIf="addUserForm.controls['firstName']['touched'] && addUserForm.controls['firstName'].errors?.required"
                                    class="text text-danger">
                                    First Name is required.
                                </div>
                                <div *ngIf="addUserForm.controls['firstName']['touched'] && addUserForm.controls['firstName'].errors?.pattern"
                                    class="text text-danger">
                                    First Name must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Last Name</label>
                                <input type="text" minlength="2" class="form-control" placeholder="Last Name" [formControl]="addUserForm.controls['lastName']" maxlength="10" required>
                                <div *ngIf="addUserForm.controls['lastName']['touched'] && addUserForm.controls['lastName'].errors?.required"
                                    class="text text-danger">
                                    Last Name is required.
                                </div>
                                <div *ngIf="addUserForm.controls['lastName']['touched'] && addUserForm.controls['lastName'].errors?.pattern"
                                    class="text text-danger">
                                    Last Name must be an alphabates.
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Department</label>
                                <select class="form-control" formControlName="department">
                                    <option *ngFor="let department of companyDepartments" [value]="department._id">
                                        {{department.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="fullw required-input">Date of Birth</label>
                                <p-calendar class="p-input-calendar" formControlName="dob" [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxdate" yearRange="1900:{{todayYear}}" ></p-calendar>
                            </div>
                        </div>
                        <div *ngIf="currentUser.role === 'admin'" class="form-row">
                            <div class="col-md-6 mb-3">
                                    <label>Company</label>
                                <select class="form-control" formControlName="corporate" (change)="handleCompanyChange()">
                                    <option *ngFor="let corporate of corporates" [value]="corporate._id">
                                        {{corporate.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Permission to sync/change wearable device</label>
                                <!-- <div class="media-body switch-sm">
                                    <label class="switch">
                                      <input *ngIf="!wearableDevice" type="checkbox" id="sidebar-toggle" checked>
                                      <input *ngIf="wearableDevice" type="checkbox" id="sidebar-toggle">
                                      <span class="switch-state" (click)="wearableChange(item)"></span>
                                      <span class="" title="Not Synced" *ngIf="!wearableDevice">Yes</span>
                                    </label>
                                </div> -->

                                <div class="media-body switch-sm">
                                  <label class="npswitch" *ngIf="wearableDeviceChange">
                                    <input type="checkbox" value="0">
                                    <span class="myonswitch" (click)="wearableChange()"></span>
                                  </label>
                                  <label class="npswitch" *ngIf="!wearableDeviceChange">
                                    <input type="checkbox">
                                    <span class="myoffswitch" (click)="wearableChange()"></span>
                                  </label>
                                </div>
                                <!-- <div class="media-body switch-sm">
                                    <label class="myswitch">
                                        <input *ngIf="!wearableDeviceChange" type="checkbox" checked>
                                        <input *ngIf="wearableDeviceChange" type="checkbox">
                                        <span class="myslider myround" (click)="wearableChange()"></span>
                                    </label>
                                </div> -->
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addUserForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addUserForm.invalid" type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->