<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item active">Change Password </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <form [formGroup]="passForm" (ngSubmit)="submitForm()" class="add-user-form">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Current Password</label>
                                <input type="text" class="form-control" placeholder="Current Password" [formControl]="passForm.controls['curpass']" required>
                                <div *ngIf="passForm.controls['curpass']['touched'] && passForm.controls['curpass'].errors?.required"
                                    class="text text-danger">
                                    Current password is required.
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">New Password</label>
                                <input type="text" class="form-control" placeholder="New Password" [formControl]="passForm.controls['newpass']" required>
                                <div *ngIf="passForm.controls['newpass']['touched'] && passForm.controls['newpass'].errors?.required"
                                    class="text text-danger">
                                    New password is required.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label class="required-input">Confirm Password</label>
                                <input type="text" class="form-control" placeholder="Confirm Password" [formControl]="passForm.controls['verpass']" required>
                                <div *ngIf="passForm.controls['verpass']['touched'] && passForm.controls['verpass'].errors?.required"
                                    class="text text-danger">
                                    Confirm password is required.
                                </div>
                            </div>
                        </div>
                        

                    </div>
                    <div class="card-footer">
                        <button class="btn btn-md mr-2 btn-primary" [disabled]="passForm.invalid" type="submit">Submit form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->