<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active"><a [routerLink]="'/admin/inventory'">Inventory </a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->


<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5>Search Product Invoice</h5>
                </div>
                <form [formGroup]="searchInvoiceProductForm" (ngSubmit)="getInvoiceProduct()">
                    <div class="card-body">
                        <div class="form-row">

                            <div class="col-md-12 mb-3">
                                <label class="required-input mb-3">Enter invoice number for product</label>
                                <input type="search" style="width: 100%;" class="form-control"
                                    placeholder="Search product by pin" style="text-transform: none !important;"
                                    [formControl]="searchInvoiceProductForm.controls['invoiceNumber']" required>
                                <div *ngIf="searchInvoiceProductForm.controls['invoiceNumber']['touched'] && searchInvoiceProductForm.controls['invoiceNumber'].errors?.required"
                                    class="text text-danger">
                                    Invoice number is required.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-md mr-2 btn-primary"
                                    [disabled]="searchInvoiceProductForm.invalid" type="submit">Search product</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->


<!-- Container-fluid starts -->
<!-- <div *ngIf="product.name || product.token" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h4>
                    Product Name -
                    <small class="text-muted">{{product.name}}</small>
                </h4>
            </div>
            <div class="col-sm-6">
                <h4>
                    Product Token -
                    <small class="text-muted">{{product.token}}</small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h4>
                    Summary -
                    <small class="text-muted">{{product.shortDesc}}</small>
                </h4>
            </div>
            <div class="col-sm-6">
                <h4>
                    Image
                    <small class="text-muted"><img width="60px" src="{{siteURL}}{{product.image}}" /></small>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>
                    Product Description -
                    <small class="text-muted" [innerHTML]="product.description"></small>
                </h4>

            </div>
        </div>
    </div>



    <div class="card-footer">
        <button class="btn btn-md mr-2 btn-primary" (click)="accept()">Accept</button>
    </div>
</div> -->