<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/challenge'">Challenge </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Challenge </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Challenge </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Challenge Form</h5>
                    <h5 *ngIf="isEdit">Edit Challenge Form</h5>
                </div>
                <form [formGroup]="addChallengeForm" (ngSubmit)="submitForm()">
                    <div class="card-header type">
                        <h6>Challenge Type
                            <span class="featured-check">Featured
                                <input type="checkbox" [formControl]="addChallengeForm.controls['is_featured']">
                            </span>
                        </h6>
                        <ul>
                            <li>
                                <label>
                                    <input *ngIf="isEdit" disabled type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="timed-bound">
                                    <input *ngIf="!isEdit" type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="timed-bound" (click)="challengeType('timed')">
                                   Customized Invitation
                                </label>
                            </li>
                            <!-- <li>
                                <label>
                                    <input *ngIf="isEdit" disabled type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="weekly-boostup">
                                    <input *ngIf="!isEdit" type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="weekly-boostup" (click)="challengeType('weekend')">
                                    Weekly Boostup Challenge
                                </label>
                            </li> -->
                            <li>
                                <label>
                                    <input *ngIf="isEdit" disabled type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="public">
                                    <input *ngIf="!isEdit" type="radio" [formControl]="addChallengeForm.controls['challengeType']" name="challenge" value="public" (click)="challengeType('public')">
                                    Public
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01" class="required-input">Name</label>
                                <input type="text" class="form-control" placeholder="Name"
                                    [formControl]="addChallengeForm.controls['name']" maxlength="30" required>
                                <div *ngIf="addChallengeForm.controls['name']['touched'] && addChallengeForm.controls['name'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['name']['touched'] && addChallengeForm.controls['name'].errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3" *ngIf="!weekendBoost"> 
                                <label for="validationCustom02" class="required-input">Steps</label>
                                    <input type="text" *ngIf="!isEdit" (keypress)="keyPress($event)" class="form-control" placeholder="Steps" [formControl]="addChallengeForm.controls['steps']" maxlength="6" required>
                                    <input type="text" *ngIf="isEdit" disabled class="form-control" placeholder="Steps" [formControl]="addChallengeForm.controls['steps']">
                                <div *ngIf="addChallengeForm.controls['steps']['touched'] && addChallengeForm.controls['steps'].errors?.required"
                                    class="text text-danger">
                                    Steps is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['steps']['touched'] && addChallengeForm.controls['steps'].errors?.pattern"
                                    class="text text-danger">
                                    Steps must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3" *ngIf="weekendBoost">
                                <label for="validationCustom02" class="required-input">Points</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Points"
                                    [formControl]="addChallengeForm.controls['points']" maxlength="3" required>
                                <div *ngIf="addChallengeForm.controls['points']['touched'] &&
                                        addChallengeForm.controls['points'].errors?.required" class="text text-danger">
                                    Points is required.
                                    <div *ngIf="addChallengeForm.controls['points']['touched'] && addChallengeForm.controls['points'].errors?.pattern"
                                        class="text text-danger">
                                        Points must be a valid points.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Start Weekedn challenge job -->

                        <div class="form-row" *ngIf="weekendBoost">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Average Daily Steps</label>
                                <input type="text" *ngIf="!isEdit" (keypress)="keyPress($event)" class="form-control" placeholder="Average Daily Steps" [formControl]="addChallengeForm.controls['averageDailySteps']" maxlength="4" required>
                                <input type="text" *ngIf="isEdit" disabled class="form-control" placeholder="Steps" [formControl]="addChallengeForm.controls['averageDailySteps']">
                                <div *ngIf="addChallengeForm.controls['averageDailySteps']['touched'] && addChallengeForm.controls['averageDailySteps'].errors?.required"
                                    class="text text-danger">
                                    Average daily steps is required.
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Percentage Growth</label>
                                <input type="text" *ngIf="!isEdit" (keypress)="keyPress($event)" class="form-control" placeholder="Percentage Growth" [formControl]="addChallengeForm.controls['increaseSteps']" maxlength="2" required>
                                <input type="text" *ngIf="isEdit" disabled class="form-control" placeholder="Steps" [formControl]="addChallengeForm.controls['increaseSteps']">
                                <div *ngIf="addChallengeForm.controls['increaseSteps']['touched'] && addChallengeForm.controls['increaseSteps'].errors?.required"
                                    class="text text-danger">
                                    Percentage growth is required.
                                </div>
                            </div>
                        </div>

                        <!-- End Weekedn challenge job -->
                        <div class="form-row" *ngIf="!weekendBoost">
                            <div class="col-md-6 mb-3" >
                                <label for="validationCustom02" class="required-input">Points</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Points"
                                    [formControl]="addChallengeForm.controls['points']" maxlength="3" required>
                                <div *ngIf="addChallengeForm.controls['points']['touched'] &&
                                        addChallengeForm.controls['points'].errors?.required" class="text text-danger">
                                    Points is required.
                                    <div *ngIf="addChallengeForm.controls['points']['touched'] && addChallengeForm.controls['points'].errors?.pattern"
                                        class="text text-danger">
                                        Points must be a valid points.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03" class="required-input">Bonus Point 1</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" id="validationCustom03"
                                    placeholder="Bonus Point 1" [formControl]="addChallengeForm.controls['bonusPoint1']" maxlength="3"
                                    required>
                                <div *ngIf="addChallengeForm.controls['bonusPoint1']['touched'] && addChallengeForm.controls['bonusPoint1'].errors?.required"
                                    class="text text-danger">
                                    Bonus Point 1 number is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['bonusPoint1']['touched'] && addChallengeForm.controls['bonusPoint1'].errors?.pattern"
                                    class="text text-danger">
                                    Please provide a valid Bonus Point 1.
                                </div>
                            </div>
                        </div>
                        <div class="form-row" *ngIf="!weekendBoost">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Bonus Point 2</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" id="validationCustom04"
                                    placeholder="Bonus Point 2" [formControl]="addChallengeForm.controls['bonusPoint2']" maxlength="3"
                                    required>
                                <div *ngIf=" addChallengeForm.controls['bonusPoint2']['touched'] &&
                           addChallengeForm.controls['bonusPoint2'].errors?.required" class="text text-danger">
                                    Bonus Point 2 is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['bonusPoint2']['touched'] && addChallengeForm.controls['bonusPoint2'].errors?.pattern"
                                    class="text text-danger">
                                    Please provide a valid Bonus Point 2.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Bonus Point 3</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" id="validationCustom04"
                                    placeholder="Bonus Point 3" [formControl]="addChallengeForm.controls['bonusPoint3']" maxlength="3"
                                    required>
                                <div *ngIf=" addChallengeForm.controls['bonusPoint3']['touched'] &&
                            addChallengeForm.controls['bonusPoint3'].errors?.required" class="text text-danger">
                                    Bonus Point 3 is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['bonusPoint3']['touched'] && addChallengeForm.controls['bonusPoint3'].errors?.pattern"
                                    class="text text-danger">
                                    Please provide a valid Bonus Point 3.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Summary</label>
                                <input type="text" class="form-control" id="validationCustom04" placeholder="Summary"
                                    [formControl]="addChallengeForm.controls['shortDesc']" maxlength="30" required>
                                <div *ngIf=" addChallengeForm.controls['shortDesc']['touched'] &&
                            addChallengeForm.controls['shortDesc'].errors?.required" class="text text-danger">
                                    Summary is required.
                                </div>
                                <div *ngIf="addChallengeForm.controls['shortDesc']['touched'] && addChallengeForm.controls['shortDesc'].errors?.pattern"
                                    class="text text-danger">
                                    Please provide a valid Summary.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Image</label>
                                <div class="file_upload">
                                    <label>Choose image</label>
                                    <input class="form-control" type="file" (change)="onUploadChange($event)"
                                        accept=".png, .jpg, .jpeg" />
                                </div>
                                <!-- Image cropper 123456-->
                                <image-cropper
                                    [imageChangedEvent]="imageChangedEvent"
                                    [maintainAspectRatio]="true"
                                    [aspectRatio]="16 / 9"
                                    [imageQuality]="100"
                                    [resizeToWidth]="450"
                                    format="png"
                                    (imageCropped)="imageCropped($event)"
                                ></image-cropper> 
                                <!-- <  img [src]="croppedImage" /> -->
                                <div *ngIf="isSubmitted && !isSelectedImg" class="text text-danger">Please choose image.
                                </div>
                                <!-- <div *ngIf="addChallengeForm.value.base64Data" class="uploadedimage">
                                    <img *ngIf="addChallengeForm.value.base64Data"
                                        style='display:block; width:50px;height:50px;' id='base64image'
                                        src="{{addChallengeForm.value.base64Data}}" />
                                </div> -->
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="fullw required-input">Start Date & Time</label>
                                <div>
                                    <p-calendar *ngIf="!isEdit" class="p-input-calendar" (onSelect)="selectStartTime()" formControlName="startDateTime" [showTime]="true" [utc]="false" [minDate]="todayDate" [disabledDays]="startDateValidation" [readonlyInput]="true"></p-calendar>
                                    <p-calendar *ngIf="isEdit" disabled="true" class="p-input-calendar" (onSelect)="selectStartTime()" formControlName="startDateTime" [showTime]="true" [utc]="false" [minDate]="todayDate"></p-calendar>
                                </div>
                                <div *ngIf="isSubmitted && !isSelectedDateTime" class="text text-danger">Please select
                                    date.</div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="fullw required-input">End Date & Time</label>
                                <div>
                                    <p-calendar *ngIf="!isEdit" class="p-input-calendar" formControlName="endDateTime" [showTime]="true" [utc]="false" [minDate]="newStartDate" [disabledDays]="endDateValidation" [readonlyInput]="true"></p-calendar>
                                    <p-calendar *ngIf="isEdit" disabled="true" class="p-input-calendar" formControlName="endDateTime" [showTime]="true" [utc]="false" [minDate]="newStartDate"></p-calendar>
                                </div>
                                <div *ngIf="isSubmitted && !isSelectedDateTime" class="text text-danger">Please select
                                    date.</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom04">Description</label>
                                <ck-editor name="editor1" formControlName="description" skin="moono-lisa" language="en"
                                    [fullPage]="true"></ck-editor>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary"
                            [disabled]="addChallengeForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addChallengeForm.invalid"
                            type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->