<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/survey'">Survey </a></li>
                    <li class="breadcrumb-item active">List Survey </li>
                </ol>
            </div>
        </div>
    </div>
  </div>
  <!-- Container-fluid Ends -->
  <!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="left-heading">Survey List</h5>
                    <div class="search_container">
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="search" class="form-control-plaintext" placeholder="Search.." id="searchInputForSurveys">
                                <span class="d-sm-none mobile-search">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body p-0">
                    <app-table 
                        [items]="items" [columns]="column" [sortData]="sortData.bind(this)" [status]="status"
                        [actions]="actions">
                    </app-table>
                </div>
            </div>
        </div>
    </div>
    <p-paginator [rows]="itemsPerPage" [totalRecords]="totalItems" (onPageChange)="paginate($event)">
    </p-paginator>
</div>
<!-- Container-fluid Ends -->