<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <ol class="breadcrumb pull-right">
          <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
          <li class="breadcrumb-item"><a [routerLink]="'/admin/invite'">Invite </a></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 ">
      <div class="card">
        <div class="card-header">
          <h5>Invite Users</h5>
        </div>
        <form [formGroup]="inviteUserForm" (ngSubmit)="submitForm()">
          <div class="card-header type">
            <h6>Invitation Type</h6>
            <ul>
              <li>
                <label><input type="radio" [formControl]="inviteUserForm.controls['invitationType']"
                    name="invitationType" value="custom_team" checked="checked" (change)="onTypeSelect('custom_team')">
                  Custom Teams</label></li>
              <!-- <li><label><input type="radio" [formControl]="inviteUserForm.controls['invitationType']"
                    name="invitationType" value="twoDepartments" (change)="onTypeSelect('twoDepartments')">
                  Multiple Departments</label></li> -->
              <li><label><input type="radio" [formControl]="inviteUserForm.controls['invitationType']"
                    name="invitationType" value="multiDepartments" (change)="onTypeSelect('multiDepartments')">
                  Multiple Departments</label></li>
              <li><label><input type="radio" [formControl]="inviteUserForm.controls['invitationType']"
                    name="invitationType" value="singleDepartment" (change)="onTypeSelect('singleDepartment')"> Single
                  Department</label></li>
            </ul>
          </div>
          <div class="card-body">
            <div *ngIf="inviteUserForm.value.invitationType === 'custom_team'" class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">First Group</label>
                <select class="form-control title" [formControl]="inviteUserForm.controls['group1']" (change)="onOptionSelect($event.target.value)">
                  <option [disabled]="group._id === selected" *ngFor="let group of groups.data" [value]="group._id">
                    {{group.name}}
                  </option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">Second Group</label>
                <select class="form-control title" [formControl]="inviteUserForm.controls['group2']" (change)="onOptionSelect($event.target.value)">
                  <option [disabled]="group._id === selected" *ngFor="let group of groups.data" [value]="group._id">
                    {{group.name}}
                  </option>
                </select>
              </div>
            </div>

            <div *ngIf="inviteUserForm.value.invitationType === 'multiDepartments'" class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">Company</label>
                <select class="form-control title" [formControl]="inviteUserForm.controls['company']" (change)="onCompanySelect($event.target.value)">
                  <option *ngFor="let group of companies" [value]="group._id">
                    {{group.label}}
                  </option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">Department</label>
                <angular2-multiselect
                  [(ngModel)]="selectedDepartments" 
                  [data]="compDepartments"
                  [formControl]="inviteUserForm.controls['multipleDepartment']"
                  [settings]="settings" 
                  >
                </angular2-multiselect>

                <!-- <select *ngIf="!selectedCompany" class="form-control title" [formControl]="inviteUserForm.controls['multipleDepartment']">
                  <option *ngFor="let group of compDepartments" [value]="group.value">
                    {{group.label}}
                  </option>
                </select> -->
              </div>
            </div>

            <!-- <div *ngIf="inviteUserForm.value.invitationType === 'twoDepartments'" class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">First Department</label>
                <p-dropdown class="form-dropdown" [options]="departments" [formControl]="inviteUserForm.controls['department1']" placeholder="Select first department" [group]="true">
                  <ng-template let-group pTemplate="group">
                      <span style="margin-left:.25em">{{group.label}}</span>
                  </ng-template>
              </p-dropdown>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationCustom01" class="required-input">Second Department</label>
                <p-dropdown class="form-dropdown" [options]="departments" [formControl]="inviteUserForm.controls['department2']" placeholder="Select second department" [group]="true">
                  <ng-template let-group pTemplate="group">
                      <span style="margin-left:.25em">{{group.label}}</span>
                  </ng-template>
              </p-dropdown>
              </div>
            </div> -->

            <div *ngIf="inviteUserForm.value.invitationType === 'singleDepartment'" class="form-row">
              <div class="col-md-6 mb-3" *ngIf="departments && departments.length">
                  <label class="required-input">Department</label>
                  <p-dropdown class="form-dropdown" [options]="departments" [formControl]="inviteUserForm.controls['singleDepartment']" placeholder="Select a department" [group]="true">
                      <ng-template let-group pTemplate="group">
                          <span style="margin-left:.25em">{{group.label}}</span>
                      </ng-template>
                  </p-dropdown>
                </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-md mr-2 btn-primary" [disabled]="inviteUserForm.invalid" type="submit">Submit form</button>
            <button class="btn btn-light" type="reset" [routerLink]="['/admin/challenge/']" >Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends -->