<app-admin-stats *ngIf="currentUser.role=='admin'"></app-admin-stats>
<app-vendor-stats *ngIf="currentUser.role=='vendor'"></app-vendor-stats>
<app-corporate-stats *ngIf="currentUser.role=='corporate'"></app-corporate-stats>