<div class="table-responsive">
  <table *ngIf="!isLoading" class="table table-border-horizontal table-hover">
    <thead>
      <tr>
        <th *ngFor="let column of columns" class="{{column.display}}">
          <i *ngIf="column.sorting && column.order === 'asc'" id="name-up" class="fa fa-sort-asc" (click)="sortData(column.id,'desc')"></i>
          <i *ngIf="column.sorting && column.order === 'desc'" id="name-down" class="fa fa-sort-desc" (click)="sortData(column.id,'asc')"></i>
          <i *ngIf="column.sorting && column.order === 'neutral'" id="name-sort" class="fa fa-sort" (click)="sortData(column.id,'asc')"></i>
          {{column.name}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items" [ngClass]="{'rowexpire': item.expired, 'tdrow': !item.expired}" >
        <td *ngFor="let column of columns" class="{{column.display}}">
          <span >
            <span *ngIf="column.name != 'Action'">
                <!-- <span *ngIf="column.type === 'string'  && column.name!='Description'">{{item[column.id] | titlecase}}</span>
                <span *ngIf="column.type === 'string' && column.name=='Description'"><span [innerHTML]="item[column.id]"></span></span> -->
                <span *ngIf="column.type === 'string'">{{item[column.id] | titlecase}}</span>
                <span *ngIf="column.type === 'email'" class="email">{{item[column.id]}}</span>
                <span *ngIf="column.type === 'object'">{{item[column.id][column.child] | titlecase}}</span>
                <span *ngIf="column.type === 'number'">{{item[column.id]}}</span>
                <span *ngIf="column.type === 'amount' && item[column.id]">${{item[column.id]}}</span>
                <span *ngIf="column.type === 'percent' && item[column.id]">{{item[column.id]}}%</span>
                <span *ngIf="column.type === 'date' && item[column.id]">{{item[column.id] | date:'mediumDate'}}</span>
                <span *ngIf="column.type === 'time' && item[column.id]">{{item[column.id] | date:'hh:mm a'}}</span>
                <span *ngIf="column.type === 'fulltime' && item[column.id]">{{item[column.id] | date:'hh:mm:ss a'}}</span>
                <span *ngIf="column.type === 'datetime' && item[column.id]">{{item[column.id] | date:'medium'}}</span>
                <span *ngIf="column.type === 'fulldatetime' && item[column.id]">{{item[column.id] | date:'yyyy-MM-dd hh:mm:ss a'}}</span>
                <span *ngIf="column.type === 'image'"><img src="{{siteURL}}{{item[column.id]}}" height="50px" width ="65px"/></span>
            </span>
            <span *ngIf="column.name === 'Status'" class="{{column.display}}">
              <div class="media-body switch-sm" *ngFor="let stats of status">
                <label class="switch">
                  <input *ngIf="item.is_active" type="checkbox" id="sidebar-toggle" checked>
                  <input *ngIf="!item.is_active" type="checkbox" id="sidebar-toggle">
                  <span class="switch-state" (click)="stats.action(item)" *ngIf="!item.expired"></span>
                  <span class="" title="Expired" *ngIf="item.expired">Expired</span>
                </label>
              </div>
            </span>
            <span *ngIf="column.name === 'Action'" class="{{column.display}}">
              <span class="actbtns" *ngIf="actions && actions.length">
                <span>{{action}}</span>
                <span *ngFor="let action of actions">
                  <a *ngIf="action.parentClass === 'edit'" class="{{action.parentClass}}" href="javascript:void(0)" title="{{action.title}}">
                    <i *ngIf="item.is_active" class="icofont {{action.childClass}}" (click)="action.action(item)"></i>
                    <i *ngIf="!item.is_active" class="icofont {{action.childClass}}" style="cursor: default"></i>
                  </a>
                  <!-- is_disabled -->
                  <a *ngIf="action.parentClass !== 'edit'" class="{{action.parentClass}}" href="javascript:void(0)" title="{{action.title}}">
                      <i class="icofont {{action.childClass}}" (click)="action.action(item)"></i>
                  </a>
                </span>
              </span>
            </span>
          </span>
        </td>
      </tr>
      <tr *ngIf="items?.length <= 0">
        <td [attr.colspan]="columns?.length" style="text-align:center; color:#e65251; font-weight:500;">No Record Founds.</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="isLoading" class="container loader">
      <img class="loading" src="assets/images/loader/hayatech_loader.gif" />
  </div>
</div>