thead>tr>th { cursor: pointer; }
tbody>tr>td {padding: 18px 30px; text-align: inherit; cursor: initial;}
.dropdown-item { cursor: pointer; }
.mt15 { margin-top: 15px; }
.mystatus { padding: 2px; margin: 0 3px; }
.mysearch { padding: 3px 10px 3px 10px !important; }
.fa-sort { float: left; margin-right: 2px; }
.fa-sort-up { float: left; margin-right: 2px; }
.fa-sort-down { float: left; margin-right: 2px; }
.center { text-align: center !important;}