<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/marketplace'">Marketplace </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Marketplace </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Marketplace </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 ">
                <div class="card">
                    <div class="card-header">
                        <h5 *ngIf="!isEdit">Add Marketplace Form</h5>
                        <h5 *ngIf="isEdit">Edit Marketplace Form</h5>
                    </div>
                    <form [formGroup]="addMarketplaceForm" (ngSubmit)="submitForm()">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="required-input">Name</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Name"
                                        [formControl]="addMarketplaceForm.controls['name']" maxlength="30" required>
                                    <div *ngIf="addMarketplaceForm.controls['name']['touched'] && addMarketplaceForm.controls['name'].errors?.required" class="text text-danger">
                                        Name is required.
                                    </div>
                                    <div *ngIf="addMarketplaceForm.controls['name']['touched'] && addMarketplaceForm.controls['name'].errors?.pattern" class="text text-danger">
                                        Name should be at least 3 character and must be an alphabates.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label class="required-input">Category</label>
                                    <select class="form-control" [formControl]="addMarketplaceForm.controls['rewardId']">
                                        <option *ngFor="let category of categories.data" [value]="category._id">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label class="required-input">Discount Summary</label>
                                    <input type="text" class="form-control" id="validationCustom01" placeholder="Summary"
                                        [formControl]="addMarketplaceForm.controls['shortDesc']" maxlength="30" required>
                                    <div *ngIf="addMarketplaceForm.controls['shortDesc']['touched'] && addMarketplaceForm.controls['shortDesc'].errors?.required"
                                        class="text text-danger">
                                        Summary is required.
                                    </div>
                                    <div *ngIf="addMarketplaceForm.controls['shortDesc']['touched'] && addMarketplaceForm.controls['shortDesc'].errors?.pattern"
                                        class="text text-danger">
                                        Summary must be an alphabates.
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <label class="required-input">Token</label>
                                    <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Token"
                                        [formControl]="addMarketplaceForm.controls['token']" maxlength="3" required>
                                    <div *ngIf="addMarketplaceForm.controls['token']['touched'] && addMarketplaceForm.controls['token'].errors?.required"
                                        class="text text-danger">
                                        Token is required.
                                    </div>
                                    <div *ngIf="addMarketplaceForm.controls['token']['touched'] && addMarketplaceForm.controls['token'].errors?.pattern" class="text text-danger">
                                        Please provide a valid Token.
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label>Quantity</label>
                                    <input type="text" (keypress)="keyPress($event)" class="form-control" placeholder="Quantity"
                                        [formControl]="addMarketplaceForm.controls['quantity']" maxlength="3" required>
                                    <div *ngIf="addMarketplaceForm.controls['quantity']['touched'] && addMarketplaceForm.controls['quantity'].errors?.required" class="text text-danger"> Quantity is required.
                                    </div>
                                    <div *ngIf="addMarketplaceForm.controls['quantity']['touched'] && addMarketplaceForm.controls['quantity'].errors?.pattern" class="text text-danger">
                                        Please provide a valid Quantity.
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">

                                <div class="col-md-6 mb-3" *ngIf="currentUser.role=='admin'">
                                    <label class="required-input">Vendor</label>
                                    <select class="form-control" [formControl]="addMarketplaceForm.controls['vendorId']">
                                        <option *ngFor="let vendor of vendors" [value]="vendor._id">
                                            {{vendor.companyName}}
                                        </option>
                                    </select>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <label>Image</label>
                                    <div class="file_upload">
                                        <label>Choose image</label>
                                        <input class="form-control" type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />
                                    </div>
                                    <image-cropper
                                        [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="16 / 9"
                                        [resizeToWidth]="450"
                                        format="png"
                                        (imageCropped)="imageCropped($event)"
                                    ></image-cropper>
                                    <!-- <img [src]="croppedImage" /> -->
                                    <div *ngIf="addMarketplaceForm.value.base64Data" class="uploadedimage">
                                        <img *ngIf="addMarketplaceForm.value.base64Data" style='display:block; width:50px;height:50px;' id='base64image' src="{{addMarketplaceForm.value.base64Data}}" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="validationCustom04">Description</label>
                                    <ck-editor name="editor1"  [formControl]="addMarketplaceForm.controls['description']" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                                    <!-- <div *ngIf="addMarketplaceForm.controls['description']['touched'] && addMarketplaceForm.controls['description'].errors?.maxLength" class="text text-danger">
                                        Description character should not be above 150
                                    </div> -->
                                </div>
                                <!-- <p class="noteText">Note : Description should not be above 150 characters</p> -->
                            </div>

                        </div>
                        <div class="card-footer">
                            <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addMarketplaceForm.invalid" type="submit">Submit form</button>
                            <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addMarketplaceForm.invalid"
                                type="submit">Update form</button>
                            <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
