<div class="container-fluid">
    <!--Reset Password page start-->
    <div class="authentication-main">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="auth-innerleft">
                    <div class="text-center">
                        <img src="assets/images/key.png" class="img-fluid security-icon" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-8 p-0">
                <div class="auth-innerright">
                    <div class="authentication-box">
                        <h3>RESET YOUR PASSWORD</h3>
                        <div class="card mt-4 p-4">
                            <form [formGroup]="resetForm" (ngSubmit)="submitForm()">
                                <h5 class="f-16 mb-3">CREATE YOUR PASSWORD</h5>
                                <div class="form-group">
                                    <label class="col-form-label">New Password</label>
                                    <input type="password" class="form-control" placeholder="*****" formControlName="password">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label">Retype Password</label>
                                    <input type="password" class="form-control" placeholder="*****" formControlName="confpass">
                                </div>
                                <div class="form-group form-row mb-0">
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-secondary" [disabled]="resetForm.invalid">Done</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--Reset Password page end-->
</div>