<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/company'">Company </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Company </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Company </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Company Form</h5>
                    <h5 *ngIf="isEdit">Edit Company Form</h5>
                </div>
                <form [formGroup]="addCorporateForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01" class="required-input">Company Name</label>
                                <input type="text" minlength="3" class="form-control" id="validationCustom01" placeholder="Company Name" [formControl]="addCorporateForm.controls['name']" maxlength="30" required>
                                <div *ngIf="addCorporateForm.controls['name']['touched'] && addCorporateForm.controls['name'].errors?.required"
                                    class="text text-danger">
                                    Company Name is required.
                                </div>
                                <div *ngIf="addCorporateForm.controls['name']['touched'] && addCorporateForm.controls['name'].errors?.pattern"
                                    class="text text-danger">
                                    Name should be at least 3 character and  must be an alphabates.
                                </div>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02" class="required-input">Contact Person</label>
                                <input type="text" minlength="3" class="form-control" id="validationCustom02"
                                    placeholder="Contact Person"
                                    [formControl]="addCorporateForm.controls['contactPerson']" maxlength="30" required>
                                <div *ngIf="addCorporateForm.controls['contactPerson']['touched'] && addCorporateForm.controls['contactPerson'].errors?.required"
                                    class="text text-danger">
                                    Contact Person is required.
                                </div>
                                <div *ngIf="addCorporateForm.controls['contactPerson']['touched'] && addCorporateForm.controls['contactPerson'].errors?.pattern"
                                    class="text text-danger">
                                    Contact person should be at least 3 character must be an alphabates.
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom02" class="required-input">Email</label>
                                <input type="text" class="form-control lower" id="validationCustom02" placeholder="Email"
                                    [formControl]="addCorporateForm.controls['email']" required>
                                <div *ngIf="addCorporateForm.controls['email']['touched'] && addCorporateForm.controls['email'].errors?.required" class="text text-danger">
                                    Email is required.
                                </div>
                                <div *ngIf="addCorporateForm.controls['email']['touched'] && check && check.email.errors" class="text text-danger">
                                    Email must be a valid email address
                                </div>
                               
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03" class="required-input">Mobile</label>
                                <input type="text" (keypress)="keyPress($event)" class="form-control" id="validationCustom03" placeholder="Mobile Number" [formControl]="addCorporateForm.controls['mobile']" minlength="8" maxlength="8" required>
                                <div *ngIf="addCorporateForm.controls['mobile']['touched'] && addCorporateForm.controls['mobile'].errors?.required" class="text text-danger">
                                    Mobile number is required.
                                </div>
                                <div *ngIf="addCorporateForm.controls['mobile']['touched'] && addCorporateForm.controls['mobile'].errors?.pattern" class="text text-danger">
                                    Please provide a valid mobile number.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom04" class="required-input">Address</label>
                                <input type="text" class="form-control" id="validationCustom04" placeholder="Address" [formControl]="addCorporateForm.controls['address']" maxlength="50" required>
                                <div *ngIf=" addCorporateForm.controls['address']['touched'] && addCorporateForm.controls['address'].errors?.required" class="text text-danger"> Address is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addCorporateForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addCorporateForm.invalid" type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->