<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/department'">Department </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Department </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Department </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Department Form</h5>
                    <h5 *ngIf="isEdit">Edit Department Form</h5>
                </div>
                <form [formGroup]="addDepartmentForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01" class="required-input">Name</label>
                                <input type="text" minlength="3" class="form-control" id="validationCustom01" placeholder="Name"
                                    [formControl]="addDepartmentForm.controls['name']" maxlength="70" required>
                                <div *ngIf="addDepartmentForm.controls['name']['touched'] && addDepartmentForm.controls['name'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addDepartmentForm.controls['name']['touched'] && addDepartmentForm.controls['name'].errors?.pattern"
                                    class="text text-danger">
                                    Name should be at least 3 character must be an alphabates.
                                </div>
                            </div>
                            <div *ngIf="currenUser.role === 'admin'" class="col-md-6 mb-3">
                                    <label>Company</label>
                                <select class="form-control" formControlName="corporate">
                                    <option *ngFor="let corporate of corporates" [value]="corporate._id">
                                        {{corporate.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary"
                        [disabled]="addDepartmentForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addDepartmentForm.invalid"
                            type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->