<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/reward'">Reward </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Reward </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Reward </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Reward Form</h5>
                    <h5 *ngIf="isEdit">Edit Reward Form</h5>
                </div>
                <form [formGroup]="addRewardForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Name</label>
                                <input type="text" minlength="3" class="form-control" id="validationCustom01" placeholder="Name" [formControl]="addRewardForm.controls['name']" maxlength="20" required>
                                <div *ngIf="addRewardForm.controls['name']['touched'] && addRewardForm.controls['name'].errors?.required" class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addRewardForm.controls['name']['touched'] && addRewardForm.controls['name'].errors?.pattern" class="text text-danger">
                                    Name should be at least 3 character and must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Image</label>
                                <div class="file_upload">
                                    <label>Choose image</label>
                                    <input class="form-control" type="file" (change)="onUploadChange($event)" accept=".png, .jpg, .jpeg" />
                                </div>
                                <image-cropper
                                        [imageChangedEvent]="imageChangedEvent"
                                        [maintainAspectRatio]="true"
                                        [aspectRatio]="4 / 3"
                                        [resizeToWidth]="450"
                                        format="png"
                                        (imageCropped)="imageCropped($event)"
                                    ></image-cropper>
                                <!-- <img [src]="croppedImage" /> -->
                                <div *ngIf="addRewardForm.value.base64Data" class="uploadedimage">
                                    <img *ngIf="addRewardForm.value.base64Data" style='display:block; width:50px;height:50px;' id='base64image' src="{{addRewardForm.value.base64Data}}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-primary mr-2" [disabled]="addRewardForm.invalid"
                            type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-primary mr-2" [disabled]="addRewardForm.invalid"
                            type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->