<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h3>Dashboard
                    <small>Company Panel</small>
                </h3>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="ecommerce-widget card-body teal-el">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="total-num counter" [CountTo]="items.total_prtcpnt" [from]="0"
                                    [duration]="items.total_prtcpnt">
                                </h4>

                                <span>
                                    <h6>Total Participants</h6>
                                    Engaging with the program
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="blueBarChart" [data]="WidgetLineChart1.data"
                                [type]="WidgetLineChart1.type" [options]="WidgetLineChart1.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="ecommerce-widget card-body yellow-dk-el">
                        <div class="row">
                            <div class="col-8">
                                <h4 *ngIf="adminStats && adminStats.totalSteps == 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.totalSteps" [from]="0"
                                        [duration]="0">0</span></h4>

                                <h4 *ngIf="adminStats && adminStats.totalSteps > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.totalSteps" [from]="0"
                                        [duration]="0"></span></h4>
                                <span>
                                    <h6>Total Steps</h6>
                                    Taken by entire poulation
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-bar-chart"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="redBarChart" [data]="WidgetLineChart2.data"
                                [type]="WidgetLineChart2.type" [options]="WidgetLineChart2.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card">
                    <div class="ecommerce-widget card-body reddish-el">
                        <div class="row">
                            <div class="col-8">
                                    <h4 *ngIf="adminStats && adminStats.overallActiveChallenges == 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                        [duration]="0">0</span></h4>
                                <h4 *ngIf="adminStats && adminStats.overallActiveChallenges > 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.overallActiveChallenges" [from]="0"
                                        [duration]="0"></span></h4>
                                <span>
                                    <h6>Total Active Challenge</h6>
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="pinkBarChart" *ngIf="WidgetLineChart2" [data]="WidgetLineChart2.data"
                                [type]="WidgetLineChart2.type" [options]="WidgetLineChart2.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6 col-sm-6">
                <div class="card">
                    <div class="ecommerce-widget card-body purple-el">
                        <div class="row">
                            <div class="col-8">
                                <h4 *ngIf="adminStats && adminStats.overallActiveSurvey == 0" class="total-num"> <span
                                        class="total-num counter" [CountTo]="adminStats.overallActiveSurvey" [from]="0"
                                        [duration]="0">0</span></h4>

                                        <h4 *ngIf="adminStats && adminStats.overallActiveSurvey > 0" class="total-num"> <span
                                            class="total-num counter" [CountTo]="adminStats.overallActiveSurvey" [from]="0"
                                            [duration]="0"></span></h4>
                                <span>
                                    <h6>Total Active Survey</h6>
                                </span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-server"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="greenBarChart" *ngIf="WidgetLineChart1" [data]="WidgetLineChart1.data"
                                [type]="WidgetLineChart1.type" [options]="WidgetLineChart1.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>


            <!----div class="col">
                <div class="card">
                    <div class="ecommerce-widget card-body">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="total-num"> <span class="total-num counter" [CountTo]="70" [from]="0"
                                        [duration]="2"></span>%</h4>
                                <span>Challenge Participation Rate</span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-package"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="pinkBarChart" [data]="WidgetLineChart2.data"
                                [type]="WidgetLineChart2.type" [options]="WidgetLineChart2.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="ecommerce-widget card-body">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="total-num"> <span class="total-num counter" [CountTo]="90" [from]="0"
                                        [duration]="2"></span>%</h4>
                                <span>Survey Response Rate</span>
                            </div>
                            <div class="col-4">
                                <div class="icon text-md-right">
                                    <i class="icon-server"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flot-chart-container">
                            <x-chartist class="greenBarChart" [data]="WidgetLineChart1.data"
                                [type]="WidgetLineChart1.type" [options]="WidgetLineChart1.options">
                            </x-chartist>
                        </div>
                    </div>
                </div>
            </div-->

        </div>

        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>Number of Steps</h5>
                </div>
                <div class="card-body">
                    <canvas baseChart class="chart" [legend]="monthlyChartLegend" [data]="monthlyChartData"
                        [labels]="monthlyChartLabels" [options]="monthlyChartOptions" [chartType]="monthlyChartType"
                        [colors]="monthlyChartColors" height="300"></canvas>
                </div>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h5>Number of Users</h5>
                </div>
                <div class="card-body">
                    <canvas *ngIf="monthlyChartUsersLevel" baseChart class="chart" [legend]="monthlyChartLegend"
                        [data]="monthlyChartUsersData" [labels]="monthlyChartUsersLevel" [options]="monthlyChartOptions"
                        [chartType]="monthlyChartType" [colors]="monthlyChartColors" height="300"></canvas>
                </div>
            </div>
        </div>


        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5>Overall Steps per Departments</h5>
                        </div>
                        <div class="col">
                            <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="fullw">Start Date</label>
                                <p-calendar class="p-input-calendar" (onSelect)="selectSteps1($event,currentUserData)" formControlName="start" [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxdate" yearRange="1900:{{todayYear}}" ></p-calendar>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="fullw">End Date</label>
                                <p-calendar class="p-input-calendar" (onSelect)="selectSteps($event,currentUserData)" formControlName="end" [monthNavigator]="true" [yearNavigator]="true" [maxDate]="maxdate" yearRange="1900:{{todayYear}}" ></p-calendar>
                            </div>
                        </div>
                             
                            <!--<select class="form-control dropdownSteps custom-select"
                                (change)="selectSteps($event.target.value,currentUserData)">
                                <option value="week">Weekly</option>
                                <option value="month" selected>Monthly</option>
                            </select>-->
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="top-sale-chart">
                        <canvas baseChart class="chart" [datasets]="saleChartData" [labels]="stepDeptLabels"
                            [options]="saleChartOptions" [colors]="saleChartColors" [legend]="saleChartLegend"
                            [chartType]="saleChartType"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card height-equal equal-height-lg">
                <div class="card-header">
                    <h5>Challenges</h5>
                </div>
                <div class="card-body">
                    <div class="user-status height-scroll custom-scrollbar">
                        <table class="table table">
                            <thead>
                                <tr>
                                    <th scope="col" class="pt-0">Challenge Name</th>
                                    <th scope="col" class="pt-0">Started On</th>
                                    <th scope="col" class="pt-0">Ends On</th>
                                    <th scope="col" class="pt-0">Accepted</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let challenge of challenges">
                                    <td>{{challenge.name}}</td>
                                    <td>{{challenge.startDateTime | date:'yyyy-MM-dd'}}</td>
                                    <td>{{challenge.endDateTime | date:'yyyy-MM-dd'}}</td>
                                    <td class="digits">{{challenge.totalParticipants}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--             <div class="col-xl-6 col-lg-12">
                <div class="card height-equal equal-height-lg">
                    <div class="card-header">
                        <h5>Surveys</h5>
                    </div>
                    <div class="card-body">
                        <div class="user-status height-scroll custom-scrollbar">
                            <table class="table table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="pt-0">Survey Name</th>
                                        <th scope="col" class="pt-0">Completion</th>
                                        <th scope="col" class="pt-0">Status</th>
                                        <th scope="col" class="pt-0">Questions</th>
                                        <th scope="col" class="pt-0">Participants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let survey of surveys.data">
                                        <td class="digits">{{survey.surveyCategoryId.name}}</td>
                                        <td class="font-secondary">
                                            <div class="progress-showcase">
                                                <div class="progress sm-progress-bar">
                                                    <div class="progress-bar bg-secondary" role="progressbar"
                                                        style="width: 30%" aria-valuenow="50" aria-valuemin="0"
                                                        aria-valuemax="100">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="font-secondary">Ongoing</td>
                                        <td>{{survey.question}}</td>
                                        <td class="digits">30</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
    </div>
</div>
<!-- Container-fluid Ends -->
