<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
      <div class="row">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
              <ol class="breadcrumb pull-right">
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a [routerLink]="'/admin/group'">Group </a></li>
                  <li *ngIf="!isEdit" class="breadcrumb-item active">Add Group Code </li>
                  <li *ngIf="isEdit" class="breadcrumb-item active">Edit Group Code </li>
              </ol>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12 ">
          <div class="card">
              <div class="card-header">
                  <h5 *ngIf="!isEdit">Add Group Form</h5>
                  <h5 *ngIf="isEdit">Edit Group Form</h5>
              </div>
              <form [formGroup]="groupUserForm" (ngSubmit)="submitForm()">
                  <div class="card-body">
                      <div class="form-row">
                          <div class="col-md-6 mb-3">
                              <label>Group Name</label>
                              <input type="text" class="form-control" id="validationCustom01" placeholder="Name"
                                  [formControl]="groupUserForm.controls['name']" maxlength="20" required>
                              <div *ngIf="groupUserForm.controls['name']['touched'] && groupUserForm.controls['name'].errors?.required"
                                  class="text text-danger">
                                  Name is required.
                              </div>
                              <div *ngIf="groupUserForm.controls['name']['touched'] && groupUserForm.controls['name'].errors?.pattern"
                                  class="text text-danger">
                                  Name must be an alphabates.
                              </div>
                          </div>
                          <div class="col-md-6 mb-3">
                            <label>Users</label>
                            <angular2-multiselect
                            (onClose)="onClose($event)"
                            [(ngModel)]="selectedUsers" 
                            (onOpen)="onOpen($event)"
                            [data]="userList" 
                            [formControl]="groupUserForm.controls['userId']"
                            [settings]="settings" 
                            >
                            </angular2-multiselect>
                          </div>
                      </div>
                  </div>

                  <div class="card-footer">
                      <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary"
                          [disabled]="groupUserForm.invalid" type="submit">Submit form</button>
                      <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="groupUserForm.invalid"
                          type="submit">Update form</button>
                      <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->
