.ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

.ui-multiselected-item-token {
    background: #007ad9;
    color: #ffffff;
}
.ui-multiselected-empty-token {
    background: #d95f00;
    color: #ffffff;
}