/* You can add global styles to this file, and also import other style files */

//.table-border-horizontal tr, , .table-border-horizontal td

table.table-border-horizontal {
  th {
    padding: 10px !important;
  }
  th.action {
    width: 50px !important;
  }
  // th.status{
  //     width: 20% !important;
  //     text-align: left;
  // }
  td {
    white-space: nowrap;
    padding: 10px !important;
    vertical-align: middle;
    text-transform: capitalize ;
  }
  td .email {
    text-transform: lowercase !important;
  }

  td.desc {
    white-space: normal !important;
  }
  td {
    .tableimg {
      width: 50px;
      height: 50px;
      display: flex;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.card {
  .card-header {
    padding: 20px !important;
  }
}

.actbtns {
  span {
    padding: 2px;
    a.view {
      color: green;
      font-size: 15px;
      &:hover {
        color: #333;
      }
    }
    a.edit {
      color: green;
      font-size: 15px;
      &:hover {
        color: #333;
      }
    }
    a.delete {
      color: red;
      font-size: 15px;
      &:hover {
        color: #333;
      }
    }
  }
}

body {
  .ui-paginator {
    background: none !important;
    border: none !important;
  }
  .ui-paginator-page.ui-state-active {
    background: #e25d7b !important;
    border-radius: 3px !important;
  }
}

.file_upload {
  width: 120px;
  background: #ab8ce4 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  height: 38px;
  label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
  }
  input[type="file"] {
    border: 1px solid #000;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 1;
    padding: 0;
    cursor: pointer;
  }
}

.required-input:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 1px;
  top: 0px;
}

.capitalize {
  text-transform: capitalize;
}

.left-heading {
  float: left;
}
.search_container {
  float: right;


@media only screen and (max-width:479px) {
  
    width: 100%;
    margin-top: 10px;
  .form-group {
    width:100%;
    margin-right: 0
  }
}

}

// .switch-sm{
//     .switch{
//         width: 44px !important;
//         height: 22px !important;
//         border: 1px solid #ab8ce4 !important;
//     }
// }

.p-input-calendar {
  /*width:100%;*/
  /*.ui-calendar { width:100%;}*/
  .ui-inputtext {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .ui-inputtext:enabled:focus:not(.ui-state-error) {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #ced4da;
  }
}

.uploadedimage {
  border: 1px solid #ccc;
  padding: 2px;
  display: inline-block;
  margin-top: 5px;
}

.uploadedimage { border:1px solid #ccc; padding:2px; display:inline-block; margin-top: 5px;}
.selected-list{
    .c-btn{
        border: 1px solid #ccc;
    }
    .c-list{
        .c-token{
            background: #c9b5ed;
        }
    }
}
.pure-checkbox input[type=checkbox]+label:before{
    border: 1px solid #ccc;
}

.card .card-header.type {
  padding-bottom: 0 !important;
  border-bottom: 0;
}
.type ul {
  display: flex;
  flex-wrap: wrap;
  li {
    &:not(:last-child) {
      margin-right: 15px;
    }
    label {
      cursor: pointer;
    }
  }
  @media only screen and (max-width:479px) {
    li {
      display: block
    }
  }
}
.sidebarToggle {
  cursor: pointer;
  color: #ab8ce4;
  font-size: 23px;
}
.featured-check{float: right;}
.featured-check input{margin-left: 5px;font-weight: 600;}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 25px;
    height: 25px;
    background: #fff;
    border: 1px solid #ab8ce4;
  }

  // Box hover
  &:hover + label:before {
    background: #fff;
  }
  

  // Box checked
  &:checked + label:before {
    background: #ab8ce4;
  }
  

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 7px;
    top: 13px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.expiredchallenge {
  font-size: 16px;
  text-align: left;
  color: red;
}

.rowexpire {
  opacity: 0.3;
}

.form-control {
  text-transform: capitalize;
}

input.form-control.lower {
  text-transform: lowercase !important;
}

input.form-control.pass {
  text-transform: none !important;
}


.ui-calendar .ui-datepicker{
  min-width: 50% !important;
}

.container.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  overflow-y: auto;
  overflow-x: hidden;
}
.form-dropdown .ui-dropdown{
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
