<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="page-header">
      <div class="row">
          <div class="col-lg-6">
              <h3>FAQ Page
                  <small>Hayatech - Hayatech Wellness App</small>
              </h3>
          </div>
          <!-- <div class="col-lg-6">
              <ol class="breadcrumb pull-right">
                  <li class="breadcrumb-item"><a [routerLink]="'/dashboard/default'"><i class="fa fa-home"></i></a>
                  </li>
                  <li class="breadcrumb-item active">FAQ Page</li>
              </ol>
          </div> -->
      </div>
  </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
          <div class="card">
              <div class="card-header">
                  <h5>Sample Card</h5>
                  <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
              </div>
              <div class="card-body">
                  <p>
                      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Container-fluid starts -->