<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/'"><i class="fa fa-home"></i></a></li>
                    <li class="breadcrumb-item"><a [routerLink]="'/admin/promo'">Promo Code </a></li>
                    <li *ngIf="!isEdit" class="breadcrumb-item active">Add Promo Code </li>
                    <li *ngIf="isEdit" class="breadcrumb-item active">Edit Promo Code </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->

<!-- Container-fluid starts -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card">
                <div class="card-header">
                    <h5 *ngIf="!isEdit">Add Promo Code Form</h5>
                    <h5 *ngIf="isEdit">Edit Promo Code Form</h5>
                </div>
                <form [formGroup]="addpromoCodeForm" (ngSubmit)="submitForm()">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Promo Name</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Name"
                                    [formControl]="addpromoCodeForm.controls['name']" required>
                                <div *ngIf="addpromoCodeForm.controls['name']['touched'] && addpromoCodeForm.controls['name'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addpromoCodeForm.controls['name']['touched'] && addpromoCodeForm.controls['name'].errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Promo Code</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Code"
                                    [formControl]="addpromoCodeForm.controls['code']" required>
                                <div *ngIf="addpromoCodeForm.controls['code']['touched'] && addpromoCodeForm.controls['code'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addpromoCodeForm.controls['code']['touched'] && addpromoCodeForm.controls['code'].errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Promo Discount</label>
                                <input type="text" class="form-control" id="validationCustom01" placeholder="Promo Discount"
                                    [formControl]="addpromoCodeForm.controls['discount']" required>
                                <div *ngIf="addpromoCodeForm.controls['discount']['touched'] && addpromoCodeForm.controls['discount'].errors?.required"
                                    class="text text-danger">
                                    Name is required.
                                </div>
                                <div *ngIf="addpromoCodeForm.controls['discount']['touched'] && addpromoCodeForm.controls['discount'].errors?.pattern"
                                    class="text text-danger">
                                    Name must be an alphabates.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">Expiry Date</label>
                                <div class="">
                                    <p-calendar  [formControl]="addpromoCodeForm.controls['expiry']"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2019:2050" (onSelect)="onSelectMethod($event)"></p-calendar>
                                <div *ngIf="isSubmitted && !isSelectedDateTime" class="text text-danger">Please select expiry date.</div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!isEdit" class="btn btn-md mr-2 btn-primary"
                            [disabled]="addpromoCodeForm.invalid" type="submit">Submit form</button>
                        <button *ngIf="isEdit" class="btn btn-md mr-2 btn-primary" [disabled]="addpromoCodeForm.invalid"
                            type="submit">Update form</button>
                        <button class="btn btn-light" type="reset" (click)="resetForm()">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends -->